<div class="container">
    <h1 class="mt-0">Welcome to the Movie Watchlist!</h1>
    <p>Keep track of the movies you want to watch, will continue watching, have finished watching, or just pretend you'll watch it later.</p>

    <div class="buttons">
        <a href="/search" class="btn btn-primary my-3">Search Movies</a>
        <a href="/watchlist" class="btn btn-secondary my-3">View Watchlist</a>
    </div>
</div>